/* css resets across browsers */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Main styles */

/* header styles */
header {
  background: #222;
  color: #fff;
  padding: 10px 30px;
}

/* logo */
header #logo {
  color: #fff;
  text-decoration: none;
  width: 49%;
  display: inline-block;
}

header #logo img {
  width: 57px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
}

/* navigation */
header #main-navigation {
  width: 49%;
  display: inline-block;
  text-align: right;
}
header #main-navigation ul {
  list-style: none;
  padding: 0;
}
header #main-navigation ul li {
  display: inline-block;
}
header #main-navigation ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
/* defines what happens on the a tag when a hover happens */
header #main-navigation ul li a:hover {
  background: #444;
}

/* main content */

/* hero section */
.hero {
  min-height: 800px;
  text-align: center;
  background: #555;
  background-image: url("../img/backpic.jpg");
  background-size: cover;
}
.hero-title {
  margin: 0;
  font-size: 120px;
  letter-spacing: 5px;
}
.hero-content {
  color: #fff;
  padding-top: 130px;
  line-height: 1;
}
.hero-content p {
  font-size: 40px;
  margin-bottom: 60px;
  line-height: 1.5;
}
.hero-content a {
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 15px 30px;
  margin-right: 40px;
  margin-left: 30px;
  text-decoration: none;
  font-size: 28px;
}
.hero-content a:hover {
  font-size: 40px;
  transition: 0.5s ease all;
  color: #98fb98;
  border-color: #98fb98;
}

/* site section */
.site-section {
  padding-bottom: 50px;
  padding-top: 50px;
}
.site-section-secondary {
  background: #efefef;
  padding-bottom: 0px;
}
.site-section-inside {
  width: 90%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#bus {
  margin-right: auto;
  margin-left: auto;
}

.section-header {
  text-align: center;
}
.section-header h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}

.clickable {
  cursor: pointer;
}

.feature-box a {
  text-decoration: none;
  color: black;
}
/* feature box */
.feature-box {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  width: 33%;
  padding: 20px 30px;
  line-height: 1;
  text-align: center;
}
.feature-box img {
  width: 86px;
  margin-bottom: 12px;
}
.feature-box h5 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 0;
}

/* testemonial */
.testimonial-box {
  display: center;
  margin: 0;
}
.testimonial-content {
  background: #efefef;
  padding: 15px 15px 45px 15px;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: left;
}
.testemonial-author img {
  float: left;
  width: 80px;
  border-radius: 50%;
  margin-right: 15px;
}
.testemonial-author h5 {
  font-size: 18px;
  margin: 0;
  padding: 15px;
}
.testemonial-author span {
  color: #999;
  font-size: 14px;
}
.thevideo {
  /* padding: 15px; */
  max-height: 500px;
  max-width: 800px;
  border: 20px solid #222;
  text-align: center;
  margin-bottom: 10px;
}
#footer {
  text-align: center;
}
